{% extends "web/base.html" %}
{% load static %}
{% block title %}Courses{% endblock %}
{% block content %}        
        <!-- Hero Start -->
        <section class="bg-half-170 bg-light d-table w-100">
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="pages-heading">
                            <h4 class="title mb-0">Radice Foundation Courses</h4>
                        </div>  
                    </div>  <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Courses Start -->
        <section class="section">
            <div class="container">
                <div class="row">
                    {% for course in courses %}
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="card blog blog-primary overflow-hidden rounded shadow border-0">
                            <div class="position-relative d-block overflow-hidden">
                                <img src="{{ course.image.url }}" class="img-fluid rounded-top mx-auto" alt="Radice Foundation Course Image">
                                <div class="overlay"></div>
                                <a href="{{ course.get_absolute_url }}" class="h6 preview bottom-0 end-0 me-4 mb-3">Preview Course <i class="uil uil-angle-right-b align-middle"></i></a>
                            </div>

                            <div class="card-body content">
                                <a href="{{ course.get_absolute_url }}" class="title text-dark h5">{{ course.title }}</a>
                                <div class="fees d-flex justify-content-between">
                                    <ul class="list-unstyled mb-0 numbers">
                                        <li><p><span class="text-muted h6">Duration:</span> {{ course.duration }}</p></li>
                                        <li><p>{{ course.description|truncatewords:10|safe }}</p></li>
                                        <li><h4><span class="h6">₹</span> {{ course.price }}</h4></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    {% endfor %}
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Courses End -->
{% endblock %}
