{% load static %}
<!-- Footer Start -->
<footer class="footer">    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-60">
                    <div class="row">
                        <!-- Logo and About -->
                        <div class="col-lg-6 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                            <a href="#" class="logo-footer">
                                <img src="{% static "web/_images/logo-white.png" %}" height="54" alt="">
                            </a>
                            <p class="mt-4">
                                Learn and grow with <span class="text-light fw-bold">Radice</span> — 
                                your trusted platform for online courses, skill development, and professional learning.
                            </p>
                            <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                <li class="list-inline-item mb-0"><a href="https://radice.in" target="_blank" class="rounded"><i class="uil uil-globe align-middle" title="Website"></i></a></li>
                                <li class="list-inline-item mb-0"><a href="#" target="_blank" class="rounded"><i class="uil uil-facebook-f align-middle" title="Facebook"></i></a></li>
                                <li class="list-inline-item mb-0"><a href="#" target="_blank" class="rounded"><i class="uil uil-instagram align-middle" title="Instagram"></i></a></li>
                                <li class="list-inline-item mb-0"><a href="#" target="_blank" class="rounded"><i class="uil uil-linkedin-alt align-middle" title="LinkedIn"></i></a></li>
                                <li class="list-inline-item mb-0"><a href="#" target="_blank" class="rounded"><i class="uil uil-twitter align-middle" title="Twitter"></i></a></li>
                                <li class="list-inline-item mb-0"><a href="mailto:radicefoundation8@gmail.com" class="rounded"><i class="uil uil-envelope align-middle" title="Email"></i></a></li>
                            </ul>
                        </div><!--end col-->
                
                        <!-- Company -->
                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Topics</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="{% url 'web:index' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Home</a></li>
                                <li><a href="{% url 'web:about' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> About Us</a></li>
                                <li><a href="{% url 'web:course_list' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Courses</a></li>
                                <li><a href="{% url 'web:about' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Our Team</a></li>
                                <li><a href="{% url 'web:blog_list' %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Blog</a></li>
                            </ul>
                        </div><!--end col-->
                
                        <!-- Resources -->
                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Resources</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Help Center</a></li>
                                <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Contact</a></li>
                                <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Terms of Use</a></li>
                                <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Privacy Policy</a></li>
                                <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Refund Policy</a></li>
                            </ul>
                        </div><!--end col-->

                        <!-- Policies -->
                        {% comment %} <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Policies</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="#" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Terms of Service</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Privacy Policy</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Refund Policy</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Accessibility</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Cookies Policy</a></li>
                            </ul>
                        </div><!--end col--> {% endcomment %}
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <!-- Footer Bottom -->
    <div class="footer-py-30 footer-bar">
        <div class="container text-center">
            <div class="row align-items-center" style="display: flex;justify-content: center;">
                <div class="col-sm-6">
                    <div class="text-sm-center">
                        <p class="mb-0">
                            © <script>document.write(new Date().getFullYear())</script> 
                            All Rights Reserved by 
                            <a href="https://adclicx.com" target="_blank" class="text-reset text-decoration-underline">Adclicx</a>.
                        </p>
                    </div>

                </div><!--end col-->

                {% comment %} <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <ul class="list-unstyled text-sm-end mb-0">
                        <li class="list-inline-item"><a href="#"><img src="{% static "web/images/payments/visa.png" %}" class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
                        <li class="list-inline-item"><a href="#"><img src="{% static "web/images/payments/master-card.png" %}" class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
                        <li class="list-inline-item"><a href="#"><img src="{% static "web/images/payments/paypal.png" %}" class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
                        <li class="list-inline-item"><a href="#"><img src="{% static "web/images/payments/discover.png" %}" class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
                    </ul>
                </div><!--end col--> {% endcomment %}
            </div><!--end row-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
