{% load static %}
<header id="topnav" class="defaultscroll sticky navbar">
            <div class="container d-flex justify-content-between">
                <!-- Logo container-->
                <a class="logo" href="{% url 'web:index' %}">
                    <img src="{% static "web/_images/logo.png" %}" height="54" class="logo-dark-mode" alt="">
                    <img src="{% static "web/_images/logo.png" %}" height="54" class="logo-light-mode" alt="">
                </a>                
                <!-- Logo End -->

                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

                <!--Login button Start-->
                {% comment %} <ul class="buy-button list-inline mb-0">
                    <li class="list-inline-item mb-0">
                        <a href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                            <div class="btn btn-icon btn-pills btn-soft-primary"><i data-feather="settings" class="fea icon-sm"></i></div>
                        </a>
                    </li>
            
                    <li class="list-inline-item ps-1 mb-0">
                        <a href="#" target="_blank">
                            <div class="btn btn-icon btn-pills btn-primary"><i data-feather="shopping-cart" class="fea icon-sm"></i></div>
                        </a>
                    </li>
                </ul> {% endcomment %}
                <!--Login button End-->

                <div id="navigation">
                    <!-- Navigation Menu-->   
                    <ul class="navigation-menu">
                        <li><a href="{% url 'web:index' %}" class="sub-menu-item">Home</a></li>
                        <li><a href="{% url 'web:course_list' %}" class="sub-menu-item">Courses</a></li>
                        <li><a href="{% url 'web:blog_list' %}" class="sub-menu-item">Blogs</a></li>
                        <li><a href="{% url 'web:about' %}" class="sub-menu-item">About</a></li>

                        <div class="mt-2 ms-3">
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Enroll Now</a>
                        </div>

                        <!-- Modal -->
                        <!-- Modal -->
                    </ul><!--end navigation menu-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class"ajax" action="{% url 'web:index' %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                {{ enrollment_form.as_p }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>